<div class="container-fluid">
  <div class="box">
  <div class="row">
    
      <div class="col-md-12">
        <hr>
        <h3 class="intro-text text-center">Nuestros principales
          <strong>Productos</strong>
        </h3>
        <hr>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 text-center productsSection" *ngFor="let section of sections">
        <img class="img-responsive img-border img-full" src="assets/img/slide-1.jpg" alt="">


        <h2>{{ section.name }}
          <br>
          <div class="list-group">

            <a (click)="showDetail(product, section);" class="list-group-item list-group-item-action" *ngFor="let product of section.principalProducts"><small>{{ product.name }}</small></a>

            <div id="{{section.id}}" class="collapse">
              <a (click)="showDetail(product, section);" class="list-group-item list-group-item-action" *ngFor="let product of section.otherProducts"><small>{{ product.name }}</small>
                  </a>

            </div>
          </div>
        </h2>


        <button type="button" class="btn btn-warning" data-toggle="collapse" id="{{ section.id }}" [attr.data-target]="'#' + section.id"
          (click)="seeMore(section.id)" *ngIf="section.otherProducts.length >= 1" #sSection>Ver Todos</button>

        <hr>
      </div>
      <fb-like href="http://www.losleñosvaldivia.cl/#/productos"></fb-like>
    </div>
  <go-top-button [html]="'<i class=\'fa fa-2x fa-chevron-up\'></i>'"
                 [animate]="true"
                 [speed]="50"
                 [acceleration]="2"
                 [scrollDistance]="300"
                 [styles]="{
                    'right': '5px',
                    'top':'76%',
                    'bottom': '24%',
                    'color': '#f0ad4e',
                    'background': 'rgba(0,0,0,0.1)',
                    'border': '5px solid',
                    'line-height': '20px',
                    'margin-right': '20px',
                    'z-index': '9999',
                    'width': '50px',
                    'height': '50px',
                    'border-radius': '50%'
                 }">
  </go-top-button>
  </div>
</div>