<footer class="mt-5">
  <div class="container-fluid bg-faded mt-5">
    <div class="container">
      <div class="row py-3">
        <!-- footer column 1 start -->
        <div class="col-md-4 col-sm-12">
          <!-- row start -->
          <div class="row py-2">
            <div class="col-3">
              <a class="bg-circle bg-info" routerLink="contacto">
                <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
              </a>
            </div>
            <div class="col-9" routerLink="contacto">
              <h4>Contactanos!</h4>
            </div>
          </div>
          <!-- row end -->
          <!-- row end -->
        </div>
        <!-- footer column 1 end -->
        <!-- footer column 2 start -->
        <div class="col-md-4 col-sm-12">

          <!-- row start -->
          <div class="row py-2">
            <div class="col-3">
              <a class="bg-circle bg-info">
                <i class="fa fa-2x fa-fw fa-phone" aria-hidden="true "></i>
              </a>
            </div>
            <div class="col-9">
              <h4>632 231003</h4>
            </div>
          </div>
          <!-- row end -->
        </div>
        <!-- footer column 2 end -->
        <!-- footer column 3 start -->
        <div class="col-md-4 col-sm-12">
          <!-- row starting  -->
          <div class="row py-2">
            <div class="col-3">
              <a class="bg-circle bg-info">
                <i class="fa fa-2x fa-fw fa-map-marker" aria-hidden="true "></i>
              </a>
            </div>
            <div class="col-9">
              <h4>Chacabuco 454</h4>
              Valdivia
            </div>
          </div>
          <!-- row ended -->
        </div>
        <!-- footer column 3 end -->
      </div>
    </div>
  </div>


  <div class="container-fluid bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <p class="text-white">&copy; Los Leños 2017</p>
        </div>
        <div class="col-3">
          <div class="d-inline-block">
            <a href="https://www.facebook.com/Los-Le%C3%B1os-727372033961246/" class="text-white" target="_blank">
              <div class="bg-circle-outline d-inline-block">
                <i class="fa fa-2x fa-fw fa-facebook"></i>

              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>