/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.navbar-light .navbar-toggler {
    position: relative;
}

.navbar-nav {
    font-size: 2em;
}

.nav>li>a {
    padding: 15px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {

    background-color: #1fd0c8;
}

.h3, h3 {
    font-size: 3em;
}

.carousel-caption {
    color: #e44646;;
}