/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.h3, h3 {
    font-size: 2em;
}

.white {
    color:white;
}

.flotante {
    z-index: 999;
    display:scroll;
        position:fixed;
        top:108px;
        left:0px;
}

.like {
    z-index: 999;
    background-color: blue;
    color: white;
    border-color: white;
}