<div class="row">
<div class="container" style="max-heigth: 500px">
  <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators hidden-xs">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="carousel-caption d-none d-block">
          <h3>¡Visitanos y sorprendete!</h3><p>Restaurant Los Leños<p>
        </div>
        <img class="img-responsive img-full" src="assets/img/slide-1.jpg" alt="">
      </div>
      <div class="item">
        <img class="img-responsive img-full" src="assets/img/slide-3.jpg" alt="">
        <div class="carousel-caption d-none d-block">
          <h3>Comedores</h3><p>con ambiente temperado</p>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive img-full" src="assets/img/slide-2.jpg" alt="">
        <div class="carousel-caption d-none d-block">
          <h3>Terrazas</h3><p>con mesas al aire libre</p>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="icon-prev"></span>
              </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" #testElem>
                  <span class="icon-next"></span>
              </a>
  </div>
  <div class="clearfix"></div>
  </div>
</div>

<div class="container"> 
<div class="row">
    <div class="col-sm-12 col-md-5 box">


      <hr>
      <h2 class="intro-text text-center">Ambiente
        <strong>Familiar</strong>
      </h2>
      <hr>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <img class="img-responsive img-border img-left" src="assets/img/intro-pic.jpg" alt="">
        </div>
        <div class="col-md-12 col-lg-6">
          <p>Disfrute de las mejores comidas junto a un grato ambiente familiar.</p>
        </div>
      </div>
      
    </div>
    <div class="col-1"></div>
    <div class="col-sm-12 col-md-6 box">


      <hr>
      <h2 class="intro-text text-center">Usamos sólo las <strong>mejores</strong> marcas
      </h2>
      <hr>
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <img class="img-responsive img-border img-left" src="assets/img/intro-pic.jpg" alt="">
        </div>
        <div class="col-md-12 col-lg-6">
          <p>Para poder brindar una experiencia única y exquisita a nuestros clientes sólo utilizamos productos de selección.</p>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="box">
    <div class="col-md-12">
      <hr>
      <h2 class="intro-text text-center">Beautiful boxes
        <strong>to showcase your content</strong>
      </h2>
      <hr>
      <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's
        the limit!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac
        habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</div>
</div>