.carousel-caption {
    color: #fff;
    font-size: 1em;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption p{
    color: #fff;
}

@media (min-width: 768px)  {
  .carousel-caption {
      font-size: 3em;
  }
}

@media (min-width: 1080px)  {
  .carousel-caption {
      font-size: 4em;
  }
}

.carousel-control .icon-next, .carousel-control .icon-prev {
    width: 20px;
    height: 20px;
    line-height: 1;
    color: white;
    font-size: 100px;
}